/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-6-21, 14:06:02
    Author     : DoubleLL
*/
.appoint-header{
    font-family:"Microsoft YaHei";
    font-size:30px;
}
.body-header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size:  20px;
    font-family:"Microsoft YaHei";
}
.input-group{
	overflow: hidden;
}
.input-group .friend{
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.friend .name{
	color:#fff;
	font-size: 26px;
	display: inline-block;
}
.info-wrap{
	width: 200px;
	height: 60px;
	line-height: 30px;
	font-size: 20px;
}
.btn-appoint-draw,.btn-appoint-save{
	margin-left:20px;
	margin-top: 5px;
	background-color: #5bc0de;
	border:1px solid #46b8da;
	color:#fff;
	border-radius: 5px;
	
}
.btn-delete-draw{
	margin-right: 20px;
	margin-top: 5px;
	background-color: #fff;
	border:1px solid #ccc;
	float: right;
	border-radius: 5px;
}
.info-body .route-name,.info-body .route-note{
	padding-top:5px;
	display: flex;
	width: 100%;
}
.info-body .route-name span,.info-body .route-note span{
	font-size: 16px;
	width: 40px;
}
.info-body .route-name input{
	flex: 1;
	height: 25px;
	width: 200px;
}
.info-body .route-note textarea{
	flex: 1;
	width: 200px;
	height: 75px;
	resize: none;
}